<div id="home-container">
    <h1>Welcome, <span id="loggedInUsername"></span></h1>
    <div>
        <div id="home">
            <button type="submit" class="btn btn-primary" id="all-reimbursements">View All Your Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="all-pending-reimbursements">Get All Your Pending Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="all-resolved-reimbursements">Get All Your Resolved Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="reimbursement-by-id">Get a Reimbursement By Id</button>
            <buttom type="submit" class="btn btn-primary" id="new-reimbursement">Create a New Reimbursement</buttom>
            <button type="submit" class="btn btn-primary" id="update-reimbursement">Update Reimbursement</button>
        </div>
    </div>
</div>