<div id="home-container">
    <h1>Welcome, <span id="loggedInUsername"></span></h1>
    <div>
        <div id="home">
            <button type="submit" class="btn btn-primary" id="all-reimbursements">Get All Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="all-pending-reimbursements">Get All Pending Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="all-resolved-reimbursements">Get All Resolved Reimbursements</button>
            <button type="submit" class="btn btn-primary" id="reimbursement-by-id">Get a Reimbursement By Id</button>
        </div>
    </div>
</div>