<div id="register-container">
    <h2>Revature Reimbursments</h2>
    <hr/>
    <h3>Update Reimbursement</h3>
    <div id = 'reimbursement-container'>
        <div class="form-group">
            <label for="reimbursement-id">Id Number</label>
            <input type="number" class="form-control" id="reimbursement-id" placeholder="Please enter a reimbursement id number"/>
        </div>
        
        <div id="reimbursement-id-button-container">
            <button type="submit" class="btn btn-primary" id="search-id">Search</button>
        </div>
        <table id="reimbursement-table" class="table table-striped" style="margin-left: 15px; margin-right: 15px;">
        <thead class="thead">
            <tr>
                <th>Reimbursement Id</th>
                <th>Amount</th>
                <th>Time submitted</th>
                <th>Time Resolved</th>
                <th>Description</th>
                <th>Author Id</th>
                <th>Resolver Id</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="reimbursement-list">
            
        </tbody>
        </table>
    </div>
    <div class="form-group">
        <label for="am">Amount</label> 
        <input type="text" class="form-control" id="am" placeholder="Enter Amount in $">
    </div>
    <div class="form-group">
        <label for="de">Description</label> 
        <input type="text" class="form-control" id="de" placeholder="Enter Reimbursement Description">
    </div>
    <p>Type</p>
    <input type="radio" id="type1" name="type" value="LOGGING">Logging<br>
    <input type="radio" id="type2" name="type" value="TRAVEL">Travel<br>
    <input type="radio" id="type3" name="type" value="FOOD">Food<br>
    <input type="radio" id="type4" name="type" value="OTHER">Other<br>
    </br>
    <div id="reg-button-container">
        <button type="submit" class="btn btn-primary" id="update">Update</button>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" id="home">Home</button> 
    <br/>
    <div class="alert alert-danger" id="reimbursement-message"></div>
</div>